@{
    ViewBag.Title = "Home Page";
}



<div style="background: white url(//img.freepik.com/free-vector/dentistry-stomatology-medicine-doodle-web-banner_107791-13574.jpg?w=1380&t=st=1665657201~exp=1665657801~hmac=956aaece3f11eb0c46e8632db25df0b86ea94e91e72cd69fc095be0f5056a505) repeat fixed; 
width: 1000px; height: 300px;"></div>



<div class="jumbotron">
    <h1>CLayton Dental</h1>
    <p class="lead">Our friendly staff and excellent customer service are ready to help you. 
    Emergency dental services are available on same day or after normal business hours, 
    with one of our Friendly dentists 24 hours a day.
    </p>
    <p><a href="~/Bookings/Index" class="btn btn-primary btn-lg">Book Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            We’re an established Dental Clinic opposite the Monash Hospital in Clayton. 
            We have a growing team of caring, friendly qualified staff who are happy to answer any questions you have 
            in regards to your dental treatment and will make each individual patient’s visit to our clinic an enjoyable 
            and relaxing experience. 
        </p>
        <p><a class="btn btn-default" href="~/Home/About">About us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get contact</h2>
        <p>For all enquiries you may also call us via phone at: 03 8555 3037 or visit us at 267 Clayton Rd, Clayton.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Location &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dental service</h2>
        <p>
            Our friendly staff and excellent customer service are ready to help you. 
            Emergency dental services are available on same day or after normal business hours, 
            with one of our Friendly dentists 24 hours a day.
        </p>
        <p><a class="btn btn-default" href="~/Bookings/Index">Book now &raquo;</a></p>
    </div>
</div>