@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Responsive Images</h1>
<img
  srcset="~/images/640.jpg 640w, ~/images/480.jpg 480w"
  sizes="(max-width: 600px) 480px,
         640px"
  src="~/images/640.jpg"
  alt="Elva dressed as a fairy" />

<br />
<h1>orignal Images</h1>
<img src="~/images/640.jpg" alt="orignal picture" />
